* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dialog {
  float: right;
  width: 22%;
  height: 100%;
  left: 78%;
  top: 0;
  overflow-y: hidden;
  /* right: 50%; */
  z-index: 12;
  background-color: white;
  border-radius: 8px 0 0 8px;
  border-left: 1px solid #ededed;
  padding-left: 0.5%;
  padding-top: 1%;
}

.first_row {
  display: flex;
  justify-content: space-between;
  padding: 4%;
  /* border-bottom: 1px solid #ededed; */
  width: 100%;
  height: 48px;
}

.span {
  display: block;
  height: 50%;
}

.username {
  display: block;
  font-weight: normal;
  color: #1f2328;
  height: 50%;
}

.scroll {
  height: 90%;
  overflow-y: scroll;
}

.flex_box {
  display: flex;
  justify-content: space-between;
}

.more {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2%;
  border: none;
  border-radius: 5px 5px 5px 5px;
}

.more:hover {
  background-color: #eaedf1;
}

.container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 2%;
}

.name {
  height: 100%;
  color: #6e7781;
  font-size: smaller;
  font-weight: lighter;
}

.avatar_and_name {
  height: 100%;
  display: flex;
}

.comment {
  display: inline-block;
  height: 100%;
  font-weight: light;
  color: #656d76;
  align-self: center;
}
