.icon_button {
  position: relative;
  height: 100%;
  width: auto;
  border-radius: 5px 5px 5px 5px;
  border: 1.5px solid #ececec;
  display: flex;
}

.icon_button:hover {
  background-color: #eaedf1;
}

.icon_button img {
  width: auto;
  height: 100%;
  padding: 20%;
  max-width: none;
}
